name: "CI"
on: push

jobs:
  build:
    name: "Run Checks"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bunx tsc
      - run: bun test
